# Browsers that we support

>0.2%
not dead
not op_mini all
Chrome >= 79
Firefox >= 70 
Safari >= 13
Edge >= 79

# Specific versions for better compatibility
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions

# Mobile browsers
iOS >= 13
Android >= 81